body {
  background-color: rgb(18, 13, 13);
  display: flex;
  justify-content: center;
}
.container {
  padding: 20px;
  background-color: rgb(47, 44, 44);
  border-radius: 10px;
  margin: 20px 0 0 0;
}

.input {
  padding: 8px 10px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
}
.btn {
  padding: 8px 10px;
  background-color: rgb(18, 23, 18);
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  padding-inline: 20px;
  border-radius: 15px;
}
.list-container{
    background-color: rgb(29, 33, 29);
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.btn-delete{
    background-color: rgba(222, 12, 12, 0.879);
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
}
